body {
    background: #000000;
}

.CV {
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.CV .gauche {
    width: 280px;
    background: #2C2C2C;
    float: left;
}


.CV .droite {
    width: 520px;
    background: #fcfcfc;
    padding: 30px 30px 0px 50px;
}

#tof {
    box-shadow: 0px 0px 20px 0px black;
    width: 70%;
    height: 70%;
    border-radius: 100px;
    margin-left: 42px;
    margin-top: 45px;
}

.contact {
    background-color: darkgoldenrod;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 13%;
}

.about {
    background-color: darkgoldenrod;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 13%;
}

.loisirs {
    background-color: darkgoldenrod;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 15%;
    font-size: 24px;
}

.CV .gauche address {
    color: floralwhite;
    margin-left: 35px;
}

.CV .gauche .p1 {
    margin-bottom: 1.3em;
}

.CV .gauche .p2 {
    margin-bottom: 1.3em;
}

.CV .gauche .p3 {
    margin-bottom: 1.3em;
}

.CV .gauche .aboutme {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 240px;
    color: floralwhite;
}

.CV .gauche footer {
    font-size: 40px;
    color: floralwhite;
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px;
}


.CV .droite header {
    line-height: 0em;
    margin-top: 70px;
}

.CV .droite .nom .moi {
    font-size: 40px;
    color: gold;
}

.CV .droite .nom .moi2 {
    font-size: 40px;
    color: black;
}

.CV .droite .nom .metier .trait {
    text-decoration: underline gold;
}

.CV .droite i {
    margin-top: 80px;
    color: gold;
}

.CV .droite i .esp {
    color: black;
    margin-left: 20px;
}

.CV .gauche .trois {
    margin-top: 300px;
}

#resp {
    display: none;
}

.CV .droite .separation {
    border: 1px solid gold;
}

.CV .droite .contenu .pdroite .orga {
    line-height: 0.2em;
    color: black;
}

.CV .droite .contenu {
    display: flex;
    font-size: 15px;
    margin-bottom: -35px;
    margin-top: 20px;
}

.CV .droite .contenu .pdroite {
    margin-left: 50px;
}

.CV .droite .contenu .pgauche .liste {
    margin-top: 75px;
}

.CV .droite .contenu .pgauche {
    list-style: none;
    color: gold;
    margin-top: -50px;
}

.CV .droite .contenu .pgauche i {
    display: flex;
    font-size: 15px;
}

.CV .droite .contenu .pgauche i li {
    margin-left: 20px;
}

.CV .droite .pgauche .esp {
    margin-left: 10px;
    color: black;
    font-weight: 100;
    font-size: 15px;
}

#pgauche {
    margin-top: -50px;
    width: 300px;
}

#xp {
    margin-left: 30px;
    color: black;
    font-size: 25px;
}

#xp2 {
    margin-left: 30px;
    color: black;
    font-size: 25px;
}

#xp3 {
    margin-left: 30px;
    color: black;
    font-size: 25px;
}

#esp {
    margin-top: -16px;
    margin-left: -12px;   
    color: black;
    list-style: none;
    font-weight: bold;
}

.CV .droite .contenu .pdroite .text1 {
    margin-top: 55px;
}

.CV .droite .contenu .pdroite .texto {
    margin-top: 35px;
}

.CV .droite .contenu .pdroite .text2 {
    margin-top: 55px;
}

.CV .droite .contenu .pdroite .text3 {
    margin-top: 75px;
}

.CV .droite .contenu .pdroite .texto2 {
    margin-top: 35px;
}

#log {
    font-size: 25px;
}

#log2 {
    font-size: 25px;
}

#log3 {
    font-size: 25px;
}

.CV .droite .footer {
    display: flex;
    line-height: 0.1em;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.CV .droite .right {
    margin-left: 120px;
}

#pgauches {
    margin-top: -50px;
    width: 150px;
}

#astro {
    border: 1px solid white;
    border-radius: 100%;
    padding: 12px;
}

#game {
    border: 1px solid white;
    border-radius: 100%;
    padding: 12px;
}

#film {
    border: 1px solid white;
    border-radius: 100%;
    padding: 12px;
}

#esbi {
    margin-top: -16px;
    margin-left: -12px;   
    color: black;
    list-style: none;
    font-weight: bold;
}

#esbi2 {
    margin-top: -16px;
    margin-left: -12px;   
    color: black;
    list-style: none;
    font-weight: bold;
}

#esbi3 {
    margin-top: -16px;
    margin-left: -12px;   
    color: black;
    list-style: none;
    font-weight: bold;
}

#espb {
    margin-top: -16px;
    margin-left: -12px;   
    color: black;
    list-style: none;
    font-weight: bold;
}
/*secondpush*/

@media screen and (max-width: 969px) {
   .CV  {
	   display: flex;
	   flex-direction: column;
       width: 600px;
   }
   .CV .gauche {
       width: 100%;
       display: flex;
       flex-wrap: wrap;
   }
   .CV .gauche #tof {
    display: flex;
    width: 50%;
    margin-left: 70px;
    height: auto;
    margin-right: -10px;
   }

   .CV .gauche .un {
       margin-top: -50px;
       text-align: center;
   }

   .CV .droite {
   padding: 0px 30px 0px 50px;
   padding-bottom: 30px;
   }

   #resp {
       color: #fcfcfc;
       display: block;
       text-align: center;
       font-size: large;
       margin-left: 30px;
       margin-top: 35px;
   }

   .CV .gauche .un address {
       margin-left: 0;
   }
   .CV .gauche .un .contact {
       width: 600px;
   }

   .CV .gauche .deux {
       margin-bottom: -500px;
   }

   .CV .gauche .deux .aboutme {
    font-size: 20px;
   }
   .CV .gauche .trois {
       width: 100%;
   }

   .CV .gauche .trois footer {
       margin-top: -50px;
       margin-bottom: 50px;
   }

   .CV .droite .nom {
       display: none;
   }

   .CV .gauche .moi {
    font-size: 25px;
    color: goldenrod;
    }

    .CV .gauche .moi2 {
    font-size: 25px;
    color: white;
    }

    .CV .gauche .metier .trait {
        text-decoration: underline goldenrod;
    } 
}
@media screen and (max-width: 624px){
   .CV  {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
   }
   .CV .droite {
       width: 350px;
       padding: 0px 0px 0px 10px;
       padding-bottom: 30px;
   }

   .CV .gauche {
       width: 360px;
   } 

   .CV .gauche .un {
    margin-left: 0px; 
    margin-bottom: 20px;
}

   .CV .gauche .un .contact {
       width: 360px;
       margin-top: -5px;
   }

   .CV .gauche .un address {
       text-align: center;
   }

   .CV .gauche .photo {
       margin-left: 40px;
       margin-bottom: 85px;
       margin-top: -20px;
   }

   .CV .gauche .trois footer {
       margin-top: -25px;
       margin-bottom: 25px;
   }

   .CV .droite .nom {
       margin-top: 30px;
       text-align: center;
   }

   .CV .droite .nom .moi {
       font-size: 25px;
       color: darkgoldenrod;
   }

   .CV .droite .nom .moi .moi2 {
    font-size: 25px;
   }

   .CV .gauche .deux .aboutme {
       text-align: center;
   }

   #resp {
       margin-top: 10px;
   }

   .CV .droite .contenu .pdroite .text2 {
    margin-top: 35px;
   }

   .CV .droite .contenu .pdroite .text3 {
    margin-top: 55px;
   }
}